<div class="flex flex-between align-center">
  <div>Player Turn: <app-player [player]="player"></app-player></div>

  <div id="scoreTracker">
    <span class="primary-color">X-{{ xScrore }}</span> | 
    <span class="accent-color">O-{{ oScrore }}</span>
  </div>

  <button [class]="'my-20'" (click)="newGame()" mat-raised-button>
    New Game
  </button>
</div>

<div id="winner-stack" #winnerStackDiv>
  <app-player
    *ngFor="let w of winnerStack"
    [player]="w"
  ></app-player>
</div>

<main>
  <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    [winnerBox]="winningSequence.includes(i)"
    (click)="makeMove(i)"
  >
  </app-square>

  <div (click)="newGame()" id="newGameDiv" *ngIf="winner || isTie">
    <div *ngIf="winner">
      Player <app-player [player]="winner" class="mx-5"></app-player> won the game!
    </div>
    <div *ngIf="isTie">
      Game ended in a tie
    </div>
    <div>
      START A NEW GAME
    </div>
  </div>

</main>
